{{!-- TODO add dynamic data from database --}}
<option value="english">{{English}}</option>
<option value="math">{{Math}}</option>
<option value="science">{{Science}}</option>
<option value="arts">{{Arts}}</option>