<footer class=" mt-auto py-3 d-flex justify-content-center ">
  <div class="container">
    <div class="row">
      <section class="mx-1 d-flex justify-content-center">
            <img src="../assets/images/project2-logo.png" alt="" width="auto" height="32" style="padding: 3px;"/>
      </section>
    </div>
    <p class="text-light d-flex justify-content-start">&copy 2021 Pod 8</p>
  </div>
</footer>