<footer class=" mt-auto py-3 d-flex justify-content-center ">
  <div class="container">
    <div class="row">
      <section class="mx-1">
            <img src="../assets/images/project2-logo.png" alt="" width="auto" height="32" style="padding: 3px;"/>
      </section>
      <section class="mx-1">
    <a href="/home">Home</a>
    <a href="/course-catalog">View Courses</a>
    <a href="/user">User Dashboard</a>
    <a href="/about">About Us</a>
      </section>
    </div>
    <p class="text-light">&copy 2021 Pod 8</p>
  </div>
</footer>