<div class="container">
  <div class="list-group mb-3">
      <div class="lesson-header">
      <h4 class="text-muted p-2 text-left"> {{lessonTitle}}</h4>
      </div>
      <div class="text-left ml-3 lesson-body">
        <p class="h5-hero mb-1">{{lecture}}</p>
      </div>
    </a>
  </div>
</div>