<div class="container">
  <div class="list-group">
      <h1>{{lessonTitle}}</h1>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{lecture}}</h5>
      </div>
    </a>
  </div>
</div>