<div class="container">
  <div class="list-group mb-3">
      <div class="lesson-header">
      <h4 class="text-muted p-2 text-left"> {{lessonTitle}}</h4>
      </div>
      <div class="text-left ml-3 lesson-body">
        <p class="h5-hero mb-1">{{lecture}}</p>
      </div>
      <div class="container">
        <a class="btn btn-warning btn-sm col-12 col-sm-4 m-1 row" href="/update-lesson" data-lesson="{{id}}">Update Lesson</a>
        <a class="btn btn-danger btn-sm col-12 col-sm-4 m-1 row " href="/user" data-lesson="{{id}}">Delete Lesson</a>
      </div>
    </a>
  </div>
</div>