<nav class="navbar navbar-expand-md navbar-light bg-transparent nav-text">
    <div class="container-fluid navbar-color">

        <a class="navbar-brand col-2 col-sm-6 p-0" href="/">
            <img src="./assets/images/project2-logo.png" alt="" width="auto" height="32" style="padding: 3px;"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active ">
                {{!-- TODO update link --}}
                <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
                {{!-- TODO update link --}}
                <a class="nav-link " href="/course-catalog">Courses</a>
            </li>
            <li class="nav-item ">
                {{!-- TODO update link --}}
                <a class="nav-link" href="/about-us">About</a>
            </li>
            <li class="nav-item ">
                {{!-- TODO update link --}}
                <li class="nav-item">
                    {{#if user}}
                    <p>{{user.name}}</p>
                    {{else}}
                    <a class="nav-link btn btn-block btn-warning text-light" href="/sign-in">Sign In</a>
                    {{/if}}
                </li>
            </li>
            </ul>
        </div>

    </div>
</nav>