<nav class="navbar navbar-expand-md navbar-light bg-transparent nav-text">
    <div class="container-fluid navbar-color">

        <a class="navbar-brand col-2 col-sm-6 p-0" href="/">
            <img src="../assets/images/project2-logo@2x.png" alt="" width="auto" height="32" style="padding: 3px;" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active ">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link " href="/course-catalog">Courses</a>
                </li>
                <li class="nav-item profile-pic" id="profile">
                    <a href="/user" class="text-light"><i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>

    </div>
</nav>