<nav class="navbar navbar-expand-md navbar-light bg-transparent nav-text">
    <div class="container-fluid navbar-color">

        <a class="navbar-brand col-2 col-sm-6 p-0" href="/testing/index.html">
            <img src="../public/assets/project2-logo.png" alt="" width="auto" height="32"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active ">
                {{!-- TODO update link --}}
                <a class="nav-link " href="/testing/index.html">Home</a>
            </li>
            <li class="nav-item">
                {{!-- TODO update link --}}
                <a class="nav-link " href="/testing/create-course.html">Courses</a>
            </li>
            <li class="nav-item ">
                {{!-- TODO update link --}}
                <a class="nav-link" href="/testing/create-lesson.html">About</a>
            </li>
            <li class="nav-item ">
                {{!-- TODO update link --}}
                <a class="nav-link btn btn-block btn-warning text-light" href="/testing/sign-in.html">Log In</a>
            </li>
            </ul>
        </div>

    </div>
</nav>