<nav class="navbar navbar-expand-md navbar-light bg-transparent nav-text">
    <div class="container-fluid navbar-color d-flex justify-content-center">
        <a class="navbar-brand p-0" href="/">
            <img src="../assets/images/project2-logo@2x.png" alt="" width="auto" height="32"/>
        </a>
    </div>
</nav>