       
       <div class="d-flex justify-content-center mt-5">
        <a class="" href="/">
            <img class="logo-alt" src="../assets/images/project2-logo@2x.png" alt=""/>
        </a>
        </div>