{{!-- This is our Social Media handlebars for Twitter/Linked In and GitHub --}}
{{#if user.twitterURL}}
<li class="social">
    <a href="{{user.twitterURL}}"><i class="fab fa-twitter"></i> Twitter</a>
</li>
{{/if}}
{{#if user.linkedinURL}}
<li class="social">
    <a href="{{user.linkedinURL}}"><i class="fab fa-linkedin text-info"></i> Linked In</a>
</li>
{{/if}}
{{#if user.githubURL}}
<li class="social">
    <a href="{{user.githubURL}}"><i class="fab fa-github text-danger"></i> GitHub</a>
</li>
{{/if}}