{{#if user.twitterURL}}
<li>
    <a href="{{user.twitterURL}}"><i class="fab fa-twitter"></i></a>
</li>
{{/if}}
{{#if user.linkedinURL}}
<li>
    <a href="{{user.linkedinURL}}"><i class="fab fa-linkedin"></i></a>
</li>
{{/if}}
{{#if user.githubURL}}
<li>
    <a href="{{user.githubURL}}"><i class="fab fa-github"></i></a>
</li>
{{/if}}