{{!-- TODO update data fields --}}
{{#each course}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{courseTitle}}</h5>
    <p class="card-text">{{courseDescription}}</p>
    <a href="#" class="btn btn-primary">{{courseURL}}</a>
  </div>
</div>
{{/each}}