{{!-- This is the header section for our Course Catalog --}}
<header class="header">
    <div class="container header-bg">
      {{!-- Here we've added our Navigation partial --}}
        {{> nav}}
        <div class="container">
        <div class="flex-grid">
          <section class="hero-col">
            <h3 class="h3-hero">Checkout our entire:</h3>
            <h1 class="h1-hero">Course Catalog</h1>
            <h5 class="h5-hero"> You can find all of our courses here. HTML, CSS, JavaScript, Node JS...Everything!</h5>
          </section>
          <section class="hero-col"><img class="hero-image" src="../assets/images/course-image.png" /></section>
        </div>
      </div>
    </div>
</header>
{{!-- This is the All Courses Section of our Handlebar --}}
  <div class="welcome">
    <div class="container text-center py-3">
      <h5 class="h5-hero-2">All Courses</h5>
      <div class="container">
        <div class="row">
          {{!-- We call on the course-tile-public handlebar partial to get the data for all the courses --}}
          {{> course-tile-public}}
        </div>
        </div>
    </div>
  </div>