<header class="header">
    <div class="container header-bg">
        {{> nav}}
        <div class="container">
            <div class="flex-grid">
              {{!-- TODO update image for course type --}}
                <section class="hero-col"><img class="hero-image"src="./assets/hero-image.png"/></section>
                <section class="hero-col">
                    <h3 class="h3-hero">{{course.title}}</h3>
                </section>
            </div>
        </div>
    </div>
</header>

<div class="welcome">
<div class="container text-center py-3">
    <div class="container">
    <div class="row">
    {{!-- TODO update data fields --}}
    {{#each lesson}}
        {{> lesson}}
    {{/each}}
    </div>
    </div>
</div>
</div>