<!-- Header -->
<header class="header">
    <div class="container header-bg">
        {{> nav}}
        <div class="container">
            <div class="flex-grid">
                <section class="hero-col">
                    <h3 class="h3-hero">Welcome to One World Academy LMS!</h3>
                    <h1 class="h1-hero">Create World Class Content</h1>
                    <h5 class="h5-hero"> OWC allows you to create incredible courses with our industry leading Learning Management System! OWC is here to help you with your LMS needs!</h5>
                    <a class="btn button-green text-light col-12 col-sm-4 m-1" href="/sign-up"><i class="fas fa-user-plus"></i> Sign Up</a>
                    <a class="btn btn-warning text-light col-12 col-sm-4 m-1" href="/course-catalog"><i class="fas fa-eye"></i> View Courses</a>
                </section>
                <section class="hero-col"><img class="hero-image"src="./assets/images/hero-image.png"/></section>
            </div>
        </div>
    </div>
</div>

<!--- Welcome Section -->

    <div class="welcome-main">
      <div class="container text-center py-3">
        <h5 class="h5-hero-2">WHAT WE DO</h5>
        <h3 class="h5-hero py-3">We Provide The #1 Learning Management System </h3>
        <h5 class="h3-hero">Take unlimited courses from our incredible instructors for FREE! Do you have an expertise that you want to share with others and help create an equitable educational world? Become an instructor and create lessons for those without access!</h5>
        <div class="row my-3 h-50">
        <section class="col-12 col-sm-6">
          <img class="col-12" src="../assets/images/welcome-image.png">
        </section>
        <section class="col-12 col-sm-6">
          <img class="col-12" src="../assets/images/course-examples@2x.png">
        </section>
      </div>
      </div>
    </div>

<!--- Three Column Section -->

    <div class="team pb-5">
      <div class="container text-center">
        <h5 class="h5-hero-2 ">MEET OUR</h5>
        <h3 class="h5-hero py-3 border-bottom-style">World Class Team</h3>
        <div class="row m-1">
        <section class="flex-course-col card-style">
          <div class="col-12 team-img">
          <img src="../assets/images/abdul@2x.png">
          <a class="btn btn-outline-info btn-block my-2" href="https://github.com/abdulhakeemdahir"><i class="fab fa-github"></i> View GitHub</a>
          <p class="text-muted">"Hello everyone, my name is Abdulhakeem Dahir and I am an aspiring Software Developer."<br> - Abdulhakeem Dahir</p>
        </div>
        </section>
        <section class="flex-course-col card-style">
          <div class="col-12 team-img">
          <img src="../assets/images/taani@2x.png">
          <a class="btn btn-outline-info btn-block my-2" href="https://github.com/taanibravo"><i class="fab fa-github"></i> View GitHub</a>
          <p class="text-muted">"A self-driven, up and coming full-stack web developer currently enrolled in the University of Washington Coding Bootcamp."<br> - Taani Maama</p>
        </div>
        </section>
        <section class="flex-course-col m-1 card-style">
          <div class="col-12 team-img">
          <img src="../assets/images/macz@2x.png">
          <a class="btn btn-outline-info btn-block my-2" href="https://github.com/macz-norton"><i class="fab fa-github"></i> View GitHub</a>
          <p class="text-muted">"👩🏻‍💻 On the road to full-stack dev • AmeriCorps & Coro Fellows alum • Iowa Hawkeye"<br> - Macz Norton</p>
        </div>
        </section>
        <section class="flex-course-col m-1 card-style">
          <div class="col-12 team-img">
          <img src="../assets/images/yuwen@2x.png">
          <a class="btn btn-outline-info btn-block my-2" href="https://github.com/ywen26"><i class="fab fa-github"></i> View GitHub</a>
          <p class="text-muted">"Full-stack developer passionate to solve coding problems and create web application."<br> - Yuwen Yu</p>
        </div>
        </section>
      </div>
        <div class="card-style p-3">
          <img class="col-3 col-sm-1" src="../../assets/images/favicon@2x.png">
          <p class="text-muted lead lead-styling">"The best applications are built by a passionate and dedicated team, we hope that this project shows our commitment and dedication to learning and progressing in the Web Development field. Thank you, and enjoy!"<br> - Pod 8</p>
        </div>
      </div>
    </div>
