<!-- Header -->
{{> header}}

<div class="container">
    <div class="flex-grid">
        <section class="hero-col">
            <h3 class="h3-hero">Welcome to One World Academy!</h3>
            <h1 class="h1-hero">Access World Class <br> Education</h1>
            <h5 class="h5-hero"> Teach or learn. OWC is here to help you reach your aspirations!</h5>
            <a class="btn btn-lg button-green text-light" href="/sign-up">Sign Up</a>
        </section>
        <section class="hero-col"><img class="hero-image"src="./assets/images/hero-image.png"/></section>
    </div>
</div>

<!--- Welcome Section -->

<div class="welcome">
    <div class="container text-center py-3">
        <h5 class="h5-hero-2">WHAT WE DO</h5>
        <h3 class="h5-hero py-3">We Provide World Class Education </h3>
        <h5 class="h3-hero">Take unlimited courses from our incredible instructors for FREE! Do you have an expertise that you want to share with others and help create an equitable educational world? Become an instructor and create lessons for those without access!</h5>
        <img class="py-5 col-12 col-sm-6" src="./assets/images/welcome-image.png" width="100%">
    </div>
</div>

<!--- Three Column Section -->

<!--- Two Column Section -->

<!--- Fixed background -->

<!--- Meet the team -->

<!--- Cards -->

<!--- Two Column Section -->

<!--- Connect -->

<!--- Footer -->