<!-- Header -->
<header class="header">
    <div class="container header-bg">
        {{> nav}}
        <div class="container">
            <div class="flex-grid">
                <section class="hero-col">
                    <h3 class="h3-hero">Welcome to One World Academy LMS!</h3>
                    <h1 class="h1-hero">Create World Class Content</h1>
                    <h5 class="h5-hero"> OWC allows you to create incredible courses with our industry leading Learning Management System! OWC is here to help you reach your aspirations!</h5>
                    <a class="btn button-green text-light col-12 col-sm-4 m-1" href="/sign-up">Sign Up</a>
                    <a class="btn btn-warning text-light col-12 col-sm-4 m-1" href="/course-catalog">View Courses</a>
                </section>
                <section class="hero-col"><img class="hero-image"src="./assets/images/hero-image.png"/></section>
            </div>
        </div>
    </div>
</div>

<!--- Welcome Section -->

    <div class="welcome-main">
      <div class="container text-center py-3">
        <h5 class="h5-hero-2">WHAT WE DO</h5>
        <h3 class="h5-hero py-3">We Provide The #1 Learning Management System </h3>
        <h5 class="h3-hero">Take unlimited courses from our incredible instructors for FREE! Do you have an expertise that you want to share with others and help create an equitable educational world? Become an instructor and create lessons for those without access!</h5>
        <div class="row my-3">
        <section class="col-12 col-sm-6">
          <img class="col-12" src="../assets/images/welcome-image.png">
        </section>
        <section class="col-12 col-sm-6">
          <img class="col-12" src="../assets/images/course-examples@2x.png" style="height: 70%; width:auto">
        </section>
      </div>
      </div>
    </div>

<!--- Three Column Section -->

    <div class="team">
      <div class="container text-center py-3">
        <h5 class="h5-hero-2 text-light">MEET OUR</h5>
        <h3 class="h5-hero py-3 text-light border-bottom-style">World Class Team</h3>
        <div class="row my-3">
        <section class="col-12 col-sm-3">
          <img class="col-12 team-img" src="../assets/images/abdul@2x.png">
        </section>
        <section class="col-12 col-sm-3">
          <img class="col-12 team-img" src="../assets/images/taani@2x.png">
        </section>
        <section class="col-12 col-sm-3">
          <img class="col-12 team-img" src="../assets/images/macz@2x.png">
        </section>
        <section class="col-12 col-sm-3">
          <img class="col-12 team-img" src="../assets/images/yuwen@2x.png">
        </section>
      </div>
      </div>
    </div>
