<form class="form-signin container form-padding card-style">
    <h1 class="h3 mb-3 font-weight-bold text-muted text-center">Please Sign In</h1>
    {{!-- Email user input --}}
    <label for="inputEmail" class="sr-only">Email Address</label>
    <input type="email" id="inputEmail" name="inputEmail" class="form-control my-1" placeholder="Email Address" required autofocus/>

    {{!-- Password user input --}}
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="inputPassword" class="form-control my-1" placeholder="Password" required/>
    
    <button class="btn btn-lg btn-warning btn-block text-light" type="submit">
        Sign In
    </button>

    <p class="mt-5 mb-3 text-muted text-center">&copy; POD8 2021</p>
</form>

<script src="./js/login.js"></script>