Header
{{> simple-header}}

<form class="form-signin container form-padding card-style">
    <h1 class="h3 mb-3 font-weight-bold text-muted text-center">Update Profile</h1>

    {{!-- First name user input --}}
    <label for="firstName" class="sr-only">First Name</label>
    <input type="text" id="inputFirstName" name="firstName" class="form-control my-1" placeholder="First Name" required autofocus/>
    
    {{!-- Last name user input --}}
    <label for="lastName" class="sr-only">Last Name</label>
    <input type="text" id="inputLastName" name="lastName" class="form-control my-1" placeholder="Last Name" required autofocus/>
    
    {{!-- Email user input --}}
    <label for="email" class="sr-only">Email Address</label>
    <input type="email" id="inputEmail" name="email" class="form-control my-1" placeholder="Email Address" required autofocus/>

    {{!-- Password user input --}}
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control my-1" placeholder="Password" required/>
    
    {{!-- Twitter Url user input --}}
    <label for="twitterUrl" class="sr-only">Twitter</label>
    <input type="text" id="inputTwitter" name="twitterUrl" class="form-control my-1" placeholder="Twitter Url"/>
    
    {{!-- Social media user input --}}
    <label for="linkedIn" class="sr-only">LinkedIn</label>
    <input type="text" id="inputLinkedIn" name="linkedIn" class="form-control my-1" placeholder="Linked In Url"/>
   
    {{!-- Social media user input --}}
    <label for="gitHub" class="sr-only">GitHub</label>
    <input type="text" id="inputGitHub" name="gitHub" class="form-control my-1" placeholder="Github Url"/>

    <button class="btn btn-lg btn-warning btn-block text-light pull-right" id="update-course-btn" type="submit">
        Update Profile
    </button>

</form>

<script src="../assets/js/update-user.js"></script>